<div>

  <h3>
    <span>{{l('EditFactory')}} </span>
  </h3>


  <nz-spin [nzSpinning]="!factory">
    <form nz-form #validateForm="ngForm" (ngSubmit)="save()" *ngIf="factory">

      <!-- 车间名称 -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7"  nzRequired>{{l('factoryName')}}</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input name="name" #name="ngModel" [(ngModel)]="factory.factoryName" [placeholder]="l('factoryName')"
                 required>
          <nz-form-explain *ngIf="name.control.dirty&&name.control.errors">
            <ng-container *ngIf="name.control.hasError('required')">{{l('CanNotNull')}}</ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <!-- 车间介绍 -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7"  nzRequired>{{l('factoryDescription')}}</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <textarea rows="3" nz-input name="description" [(ngModel)]="factory.factoryDescription" [placeholder]="l('factoryDescription')"></textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- 权限 -->
      <!--<nz-form-item>-->
        <!--<nz-checkbox-group name="permissions" [(ngModel)]="permissionList" *ngIf="permissionList.length!=0"></nz-checkbox-group>-->
      <!--</nz-form-item>-->

      <!-- 按钮 -->
      <div class="custom-modal-footer">
        <div class="custom-modal-footter-group">
          <button nz-button type="button" [disabled]="saving" (click)="close()">
            {{l("Cancel")}}
          </button>
          <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
            {{l("Save")}}
          </button>
        </div>
      </div>

    </form>
  </nz-spin>
</div>
