<div class="padding-bottom-45">

  <h3>
    <span>创建新企业</span>
  </h3>

  <form nz-form #validateForm="ngForm" (ngSubmit)="save()">

    <!-- 角色介绍 -->
    <nz-form-item>
      <nz-form-control>
        <!--<input nz-input name="description">-->
        <nz-input-group>
          <input type="text" nz-input name = "description" placeholder="企业描述">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- 角色介绍 -->
    <nz-form-item>
      <nz-form-control>
        <!--<input nz-input name="description">-->
        <nz-input-group>
          <input type="text" nz-input name = "description2" placeholder="企业描述">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- 角色介绍 -->
    <nz-form-item>
      <nz-form-control>
        <!--<input nz-input name="description">-->
        <nz-input-group>
          <input type="text" nz-input name = "description3" placeholder="企业描述">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- 权限组 -->
    <!--<nz-form-item>-->
      <!--<nz-checkbox-group name="permissions" [(ngModel)]="permissionList" *ngIf="permissionList.length!=0"></nz-checkbox-group>-->
    <!--</nz-form-item>-->

    <!-- 功能按钮 -->
    <div class="custom-modal-footer">
      <div class="custom-modal-footter-group">
        <button nz-button type="button" [disabled]="saving" (click)="close()">
          {{l("Cancel")}}
        </button>
        <button nz-button [nzType]="'primary'" type="submit" [disabled]="!validateForm.valid||saving">
          {{l("Save")}}
        </button>
      </div>
    </div>

  </form>
</div>
